div.LinkedInConnect
{
    height:20px;
    width:107px;
}

div.LinkedInConnect a
{
    background-repeat: no-repeat;
    background-image: url(Images/SignInDefault.png);
    display: block;
    background-size: 100% auto;
    height: 100px;
    width: 100px;
}

div.LinkedInConnect a:hover
{
    background-image: url(Images/SignInHover.png);
}
